body {
    border: 12px solid purple;
    background-color:chocolate;
    text-align-last: center;
    margin: auto;
    color: aqua;
    border-radius: 20px;
}
#titulo,#subtitulo,#post_title{
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    align:center;
}
#post_title{
    color: rgb(18, 122, 213);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    text-decoration: underline;
}
p{
    color:blue;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{

    background-color:chocolate;
    text-align-last: center;
    color: aqua;
}
#img{
    border: 2px black solid;
    border-radius: 50%;
}
#lista{
    list-style-type: "\1F251"